DATABASE_URL=postgres://imgProcessing:imgProcessing@database:5432/imgProcessing?sslmode=disable #TODO Take a look at sslmode
MINIO_HOST=storage:9000
MINIO_USER=minio
MINIO_PASSWORD=minioImgProcess
JWT_SECRET=blub
